body {
	margin-left: 10%;
	margin-right: 10%;
	font-family: Helvetica;
	font-size: 13pt;
}
mono {
	font-family: Courier, monospace;
}
monob {
	font-family: Courier, monospace;
	font-weight: bold;
}
li {
	margin-top: 10px;
}
.versionslist {
	list-style-type: "v ";
}
.dashedlist {
	list-style-type: "- ";
}
