body {
	margin-left: 10%;
	margin-right: 10%;
	font-family: Helvetica, sans-serif;
	font-size: 13pt;
}

mono {
	font-family: Courier, monospace;
}
monob {
	font-family: Courier, monospace;
	font-weight: bold;
}

li {
	margin-top: 10px;
}

a:link {
	color: green;
}
a:visited {
	color: darkblue;
}

h1 a {
	color: inherit;
	text-decoration: inherit;
}
h1 a:visited {
	color: inherit;
	text-decoration: inherit;
}
h1 a:hover {
	color: green;
	text-decoration: underline;
}

.versionslist {
	list-style-type: none;
}
.dashedlist {
	list-style-type: "- ";
}
